
body{
    text-align: center;
}
td{
    border: 2px solid black;
    height: 50px;
    width: 50px;
    padding-left: 7px;

}
.grid{
    border-collapse: collapse;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    transform: rotate(-90deg);
}
tr:hover{
    background-color: gray;
}
#circle{
    background: white;
    height: 40px;
    width: 40px;
    border-radius: 50%;
}
.Red{
    background: red;
    height: 40px;
    width: 40px;
    border-radius: 50%;
}
.Black{
    background: black;
    height: 40px;
    width: 40px;
    border-radius: 50%;
}
#restart {
    visibility: hidden;
    margin-top: 25px;
    padding: 10px;
}

